**/node_modules
**/.idea
.phpdoc
.eslintrc.yml
.eslintrc.js
jsconfig.json
RBT/RBT.xcodeproj/
/api/
/client/lib/
/client/lib/AdminLTE/
/client/lib/qrcodejs/
/client/lib/loading-bar/
/client/lib/ace-builds/
/client/modules/custom/
.cache
.config
.fontconfig
.local
.mc
.ssh
.subversion
.bash_history
*.apk
.vscode
__pycache__
/package.json
/package-lock.json
/client/config/config.json
/client/config/config.yml
/server/db/internal.db
/server/config/config.json
/server/config/config.yml
/server/vendor
/.stylelintrc.json
package.json
package-lock.json
!/syslog/package.json
/install/asterisk/config.lua
/install/asterisk/extconfig.conf
